/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
ul {
  list-style: none;
}
img {
  width:100%;
  height:100%;
  object-fit: cover;
}

.top-bottom-spacing {
  padding-top:3.125rem;
  padding-bottom:3.125rem;
}

/* ROOT */
:root {
  --hue:244;
  --main-color: hsl(var(--hue) 67% 51%);
  --main-alt: hsl(var(--hue) 64% 39%);
  --dark-red:hsl(var(--hue) 64% 21%);
  --very-dark:hsl(var(--hue) 32% 26%);
  --light-red:hsl(var(--hue) 61% 66%);
  --black:hsl(0, 0%, 5%);
  --white:hsl(0, 0%, 100%);
}

/* LAYOUT */

body {
  font: 400 1rem 'Noto Sans', sans-serif;
  color:var(--black);
}

.container {
  margin-right:3.5rem;
  margin-left:3.5rem;
}

.grid {
  display:grid;
}

/* HEADER */

#header {
  border-bottom:1px solid rgb(214, 214, 214);
}

#header .img {
  justify-content: center;
  align-items: center;
  max-width:15.625rem;
}
#header .img img {
  width:120px;
}

#header nav{
  display:flex;
  justify-content: space-between;
  align-items: center;
  height:8rem;
}
#header .menu {
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  gap:1rem;
  background:var(--black);
  margin-bottom:.45rem;
  border-radius:.65rem;
  padding:0 2rem;
}
.menu a {
  height:50px;
  font-size:1.4rem;
  display:inline-flex;
  align-items: center;
  color:white;
}

/* SECTION UM */

#one .container{
  grid-template-columns: 1fr 1fr;
  /* margin:0; */
}

#one .img {
  height:31.25rem;
}

#one .texto {
  background:var(--main-color);
  align-content: center;
  position: relative;
}

#one .texto::after {
  content: '';
  position:absolute;
  top:50%;
  left:-2%;
  transform:translateY(-50%);
  width:85%;
  height:85%;
  border:2px solid white;
}
#one h3 {
  background:white;
  padding:.5rem;
  max-width:18rem;
  font-size:2rem;
  position: relative;
  z-index: 1;
}
#one .texto p {
  max-width:18.75rem;
  background:var(--black);
  color:var(--white);
  padding:.5rem;
  position: relative;
  z-index: 1;
}

/* DOIS */

#dois .container {
  background-color:var(--black);
  color:var(--white);
  /* margin:0; */
}
#dois .left {
  justify-items: center;
  gap:2rem;
}
#dois .left h3 {
  width:31.25rem;
  font-size:3rem;
  text-align: center;
  border-bottom: 1px solid var(--light-red);
}
#dois .left p {
  max-width:75rem;
  /* text-align: justify; */
  letter-spacing: .04rem;
}

/* SECTION ABOUT */

.intro {
  grid-template-columns: 1fr 1fr;
}

.intro .left {
  justify-content: center;
  align-items: center;
}
.intro .left h2 {
  font-size:3rem;
  color:var(--dark-red);
  text-align: center;
}
.intro .right .img {
  text-align: center;
}
.intro .right img {
  max-width:600px;
}

/* cards */

#about .cards {
  grid-template-columns: 1fr 1fr;
  gap:1rem;
  justify-items: center;
}
#about .box-card {
  max-width:300px;
  background-color:var(--dark-red);
  padding:5%;
  border-radius:.25rem;
  gap:1rem;
  text-align: center;
  color:var(--white);
  transition:all .2s;
}
#about .box-card:hover {
  transform:scale(1.01);
  box-shadow:3px 3px 10px var(--dark-red);
}

#about .box-card .icon {
  text-align: center;
}
#about .box-card i {
  font-size:7rem;
  color:var(--white);
}
#about .intro-txt {
  text-align: justify;
  color:var(--dark-red);
  border:3px solid var(--dark-red);
  padding:2rem;
  font-size:1.1rem;
}
#about .intro-txt span {
  display:block;
  font-size:1.5rem;
  font-weight: bold;
}


/* SECTION ARTIGOS */

#artigos .news {
  margin-bottom:3.125rem;
  border-bottom:2px solid var(--main-color);
}
#artigos .news-flex {
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
#artigos .news div {
  padding-right:50px;
}
#artigos .news i {
  font-size:2rem;
  color:var(--main-color);
}

#artigos .b-title {
  font-size:3rem;
  font-style: italic;
}


#artigos .box {
  grid-template-columns: 400px 1fr;
  gap:3rem;
  border-bottom: 1px solid var(--light-red);
  padding:1rem 0;
}

#artigos .b-img {
  height:18.75rem;
}

/* BOX info */

.b-info {
  align-content: start;
}
.b-info h3 {
  font-size:2rem;
  color:var(--dark-red);
}
.b-info h4 {
  font-weight: 300;
  font-style: italic;
  color:var(--dark-red);
}
.b-info p {
  color:var(--dark-red);
  margin:1rem 0;
  letter-spacing: .05rem;
  max-height: 8rem;
  overflow: hidden;
}
.b-info .socials {
  display:flex;
  align-items: center;
  gap:1rem;
}
.b-info li a {
  width:50px;
  height:50px;
  display:inline-flex;
  align-items: center;
  justify-content: center;
  font-size:1.4rem;
  color:var(--dark-red);
  border:1px solid var(--dark-red);
  border-radius:.15rem;
  transition:all .2s;
}
.b-info li a:hover {
  background:var(--dark-red);
  color:var(--white);
}

/* FOOTER */

#footer {
  height:20rem;
  background:var(--black);
  color:var(--white);
}