@media (max-width:1300px) {
  #dois .left p {
    padding:0 2rem;
  }
}

@media (max-width:935px) {
  .container {
  margin-right:1.5rem;
  margin-left:1.5rem;
  }
  #dois .left p  {
    padding:0 2rem;
  }
  /* ABOuT */
  .intro {
    grid-template-columns: 1fr;
  }
}
@media (max-width:835px) {
  #header nav{
    display:flex;
    flex-direction: column;
    height:auto;
  }
  #one .container{
    grid-template-columns: 1fr;
    /* margin:0; */
  }
  #one .texto {
    justify-content: center;
    padding:2rem;
  }
  #one .texto::after {
    left:2%;
    width:55%;
  }
  #artigos .box {
    grid-template-columns: 1fr;
    gap:2rem;
    border-bottom: 1px solid var(--light-red);
    padding:1rem 0;
  }
}
@media (max-width:550px) {
  .container {
    margin-left:.3rem;
    margin-right:.3rem;
  }
  #header .img img {
    width:70px;
  }
  #header .menu {
    width:100vw;
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap:.2rem;
    background:var(--white);
    padding:0 .3rem;
    text-align: center;
  }
  .menu a {
    width:100%;
    height:auto;
    padding:.55rem;
    font-size:1.4rem;
    display:block;
    background:var(--black);
    color:white;
  }
  #one .texto {
    grid-row:1/1;
}
  #dois .left h3 {
    width:auto;
    margin:0 2rem;
    font-size:2rem;
    text-align: center;
    border-bottom: 1px solid var(--light-red);
  }
}

@media (max-width:481px) {
  #about .cards {
    grid-template-columns: 1fr;
  }
  #about .box-card {
    max-width:90%;
  }
}